# Dependencies
node_modules/

# Build output
dist/
lib/
functions/lib/
apps/web/dist/

# Expo / React Native
.expo/
.expo-shared/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Firebase
.firebase/
*-debug.log
firebase-debug.log
firestore-debug.log
ui-debug.log

# Env files
.env
.env.local
*.local

# Editor/OS
.DS_Store
.vscode/
*.log
.vercel
.env*
